[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

lxml = "==4.1.1"
Sanic = "==0.6.0"
asyncpg = "*"
SQLAlchemy = "==1.2.0b3"
Flask = "==0.12.2"
"pg8000" = "==1.11.0"
patton = {path = ".", editable = true}


[dev-packages]

pytest = "==2.9.2"
coverage = "==4.4.1"
bumpversion = "==0.5.3"
Sphinx = "==1.6.3"
sphinxcontrib-spelling = "==2.3.0"
recommonmark = "==0.4.0"
ipdb = "==0.10.3"
"yolk3k" = "*"


[requires]

python_version = "3.6"
